
.mycss-w-px{
    width: 480px;
  }

.mycss-mt-6 {
    margin-top: 6rem !important;
  }

.mycss-shadow{
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.175);
  }

.mycss-header__date{   
    font-size: 40px;
    font-family: 'Bellota';
    line-height: 1;

}
.mycss-header__month{
    font-family: "Roboto";
    font-size: 15px;
    line-height: 1;
}
.mycss-header__year{
    font-family: 'Bellota';
    font-size: 15px;
    line-height: 1;
}

.mycss-input-box{
    border: 0;
    border-bottom: 1px solid #aaa;
    background-color: inherit;
}
input:focus{
    outline: none;
}
input::placeholder{
  font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    opacity: 0.5;
}
input[type=checkbox]{
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.mycss-button{
    margin: 0;
    padding: 0;
    border: none;
    background-color: inherit;
}
.mycss-list-window{
    overflow: scroll;
}
label:hover{
    cursor: pointer;
}
.mycss-header__todolist{
    color: #50e3a4;
    font: italic 700 35px "Roboto Condensed";
}

.mycss-plus-button{
    color: #50e3a4;
}
.mycss-star-button{
    color: #ccc;
}
.mycss-minus-button{
    color : hsla(0,100%,71%,.79);
}
.mycss-list{
    border-bottom: 1px solid #eee;
}
.mycss-list-name{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
.mycss-list-name:hover{
    cursor: pointer;
}

button:focus{
    outline: none;
}

.p-checked{
    color: #888;
    text-decoration: line-through;
}
.checkbox-toggle{
    visibility: hidden;
}
.checkbox-checked{
color: #50e3a4;
}

.star-toggle{
    color: #f0f351;
}
