*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
ul li{
    list-style: none;
    margin: 0;
    padding: 0;
}
button{
    cursor: pointer;
}
button:active { 
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5); 
    position: relative; 
    top:2px; 
}
input[type="text"]{
    width: 140px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #555;
    padding: 10px;
}
input:focus{
    outline: none;
}
input:focus::placeholder{
    outline: none;
    color:transparent;
    
}
input[type="radio"]{
    margin: 0 5px 0 10px;
}
.title{
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Sriracha', cursive;  
}
main{
    text-align: center;
}
.img-relative{
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.img-list{
    width: 1000px;
    height: 400px;
    
}
img{
    margin-bottom: -5px;
    margin-right: -4px;
    
}
.flex{
    white-space: nowrap;
}
.img-list img{
    width: 1000px;
    height: 400px;
}
.icons-horizontal{
    display: inline-block;
    width: 1000px;
    height: 400px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}
.icons-horizontal i{
    cursor: pointer;
}
.icons-vertical{
    width: 1000px;
    height: 400px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}
.icons-vertical i{
    cursor: pointer;
}


.left-button, .right-button, .up-button, .down-button{
    font-size: 40px;
    display: inline-block;
    position: absolute;
}
.left-button{
    top: 50%;
    margin-top: -20px;
    left: 10px;
}
.right-button{
    top: 50%;
    margin-top: -20px;
    right: 10px;
}
.choice-horizontal{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    font-weight: 900;
    
}
.choice-horizontal i{
    margin: 0 2px;
    cursor: pointer;
}
.choice-horizontal i:last-child{
    margin-left: 5px;
    
}
.choice-horizontal .play-button{
    padding: 4px;
    border: 1px solid white;
    font-size: 15px;
}
.choice-horizontal .stop-button{
    padding: 4px;
    border: 1px solid white;
    font-size: 15px;
}

.up-button{
    top: 10px;
    left: 0;
    right: 0;
}
.down-button{
    bottom: 10px;
    left: 0;
    right: 0;
}

.choice-vertical{
    position: absolute;
    top: 50%;
    margin-top: -80px;
    left: 10px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.choice-vertical i{
    margin: 2px 0px;
    cursor: pointer;
   
}
.choice-vertical i:last-child{
    margin-top: 5px;
    
}
.choice-vertical .play-button{
    padding: 4px;
    border: 1px solid white;
    font-size: 15px;
}

.choice-background::before{
    background-color: white;
    border-radius: 50%;
}




.setting{
    margin: 50px 40px;
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;;
}

.setting h4{
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 3px solid #9679aa;
}


.slide-direction{
    text-align: center;
}
.slide-direction__button{
    margin-top: 50px;
}
.slide-direction__button button{
    margin: 0 8px;
    padding: 10px 10px;
    border: none;
    background-color: #d0a9bc;
    font-size: 18px;
}
.slide-setting{
    margin-left: 200px;
    text-align: left;
}
.slide-setting form:nth-child(1){
    margin-top: 0;
}
.slide-setting form{
    margin-top: 20px;
    font-size: 15px;
}
.slide-setting button{
    padding: 5px 5px;
    border: 1px solid #555;
    background-color: #b4a2c166;
}
.slide-setting form span span{
    margin-left: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #8c6ca2;

}

.hidden{
    visibility: hidden;
}
