*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

h4{
    margin-top: 40px;
    font-weight: 100;
}


.header{
    padding: 20px 0;
    text-align: center;
}
.nav{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.nav li{
    margin: 0 10px;
}
.nav li:hover{
    cursor: pointer;
}
.contents{
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contents a{
    margin-bottom: 50px;
    padding: 0 15px;
}
.contents a li{
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.contents a li div{
    width: 300px;
    height: 429px;
    position: relative;
}
.movie-pic{
    position: absolute;
    transition-property: opacity;
    transition-duration: 1s;
    z-index: 2;
}
.movie-pic:hover{
    opacity: 0;
}

.explain{
    background-color: #eee;
    padding: 30px 20px;
    z-index: 1;
}
.explain p{
    margin-bottom: 10px;
}
.explain p span{
    margin-right: 10px;
    font-weight: 600;
}
.explain p:last-child span{
    display: block;
    margin-bottom: 10px;
    
}